<!DOCTYPE html>

<html lang="en" ng-app="DraftApp">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Draft App</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <script type="text/javascript" src="/static/js/app.js"></script>
    <script type="text/javascript" src="/static/js/player.js"></script>
    <script type="text/javascript" src="/static/js/controllers/PlayerController.js"></script>
    <script type="text/javascript" src="/static/js/factories/DraftFactory.js"></script>
</head>

<body ng-controller="PlayerController">
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Fantasy Football Draft App</h1>
        </div>
        <div id="player_api_query">
            <select id="positions">
                <option value="QB">QB</option>
                <option value="WR">WR</option>
                <option value="RB">RB</option>
                <option value="TE">TE</option>
                <option value="K">K</option>
                <option value="DEF">DEF</option>
            </select>
            <button id="get_all" type="submit" class="btn btn-primary">Get All Players</button>
        </div>

        <div class="form-group" >
            <form id="player_return" role="form" class="col-sm-4" ng-controller="PlayerController">
              
            </form>
            <h1>{{checkboxModel1.name}}</h1>  

            <br>
            <form name="to_draft">
                <label><input type="checkbox" ng-true-value="'Buck Nasty'" ng-model="checkboxModel.name">Buck Nasty</label>'
            </form>
            <button type="submit" ng-click="draft()">Another Button</button>
            {{checkboxModel.name}}
        </div>

        <div id="the_list" class="row">
            
            <div class="col-sm-4 col-sm-offset-4">
                <div ng-repeat="player in drafted_players">
                    {{player.player_name}}{{player.player_position}}{{player.draft_team}}
                </div>
            </div>

            <!--<table>
                <th>Jammin</th>
                <th>Bryan</th>
                <th>Brent</th>
                <th>Andy</th>
                <th>Stahnke</th>
                <th>Spook</th>
                <th>Matt</th>
                <th>CMac</th>
                <th>Aaron</th>
                <th>Pollock</th>
            </table>-->
        </div>
    </div>
</body>

</html>