<!DOCTYPE html>

<html lang="en" ng-app="DraftApp">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Draft App</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.js"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <script type="text/javascript" src="/static/js/app.js"></script>
    <!--<script type="text/javascript" src="/static/js/player.js"></script>-->
    <script type="text/javascript" src="/static/js/controllers/PlayerController.js"></script>
    <script type="text/javascript" src="/static/js/factories/DraftFactory.js"></script>
</head>

<body ng-controller="PlayerController">
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Fantasy Football Draft App</h1>
        </div>
        <div>
            <button type="submit" class="btn btn-info" ng-click="getAll()">Download Players</button> <button type="submit" ng-click="newDraft()" class="btn btn-danger btn-md">New Draft</button>
        </div>
        <br>

        <div>
            <form name="position_selector">
                <select name="position_select" id="singleSelect" ng-model="players.position_select">
                    <option value="">---Please Select---</option>
                    <option value="QB" ng-value="option.value">QB</option>
                    <option value="WR" ng-value="option.value">WR</option>
                    <option value="RB" ng-value="option.value">RB</option>
                    <option value="TE" ng-value="option.value">TE</option>
                    <option value="K" ng-value="option.value">K</option>
                    <option value="DEF" ng-value="option.value">DEF</option>
                </select>
                <button id="get_all" type="submit" class="btn btn-success btn-md" ng-click="getPlayers(players.position_select)">All Available Players</button>
            </form>
        </div>

        <div class="form-group">
            <div ng-repeat="player in available_players">
                <form role="form" class="col-sm-4">
                    <label><input type="checkbox" ng-click="draftPlayer(player._id)"> {{player.displayName}} {{player.position}}</label>
                </form>
            </div>
        </div>

        <div id="drafted_list">
            <h4>Drafted Players</h4>
            <div ng-repeat="player in allDraftedPlayers">
                {{player.displayName}} {{player.position}} {{player.draftedBy}}
            </div>
            <!--<table>
                <th>Jammin</th>
                <th>Bryan</th>
                <th>Brent</th>
                <th>Andy</th>
                <th>Stahnke</th>
                <th>Spook</th>
                <th>Matt</th>
                <th>CMac</th>
                <th>Aaron</th>
                <th>Pollock</th>
            </table>-->
        </div>

        <div>

        </div>
    </div>
</body>

</html>