<!DOCTYPE html>
<div ng-controller="AppController">
    <div class="jumbotron text-center">
        <h1>A MEAN Fantasy Football Draft App</h1>
        <p ng-if="vm.isLoggedIn">Welcome, {{vm.currentUser.firstName}}!</p>
    </div>
    <div>
        <nav class="navbar navbar-default" role="navigation">
            <ul class="nav navbar-nav">
                <li ng-if="vm.isLoggedIn" uib-dropdown on-toggle="toggled(open)"><a href="" uib-dropdown-toggle>Welcome, {{vm.currentUser.firstName}}!</a>
                    <ul class="dropdown-menu">
                        <li><a href="" ng-click="vm.currentUserLogOut()">Logout</a></li>
                    </ul>
                </li>
                <li ng-if="vm.currentUser.leagues" uib-dropdown on-toggle="toggle(open)"><a href="" uib-dropdown-toggle>Leagues</a>
                    <ul class="dropdown-menu" >
                        <li ng-repeat="league in vm.currentUser.leagues"><a href="" ng-click="vm.setCurrentLeague(league._id)" ng-style="vm.setColor(league)">{{league.leagueName}}</a></li>
                        <li role="seperator" class="divider"></li>
                        <li><a href="" ng-click="vm.appViewChange('/commish')">Create New League</a></li>
                        <li><a href="" ng-click="vm.appViewChange('/commish')">Join League</a></li>
                    </ul>
                </li>
                <li><a href="" ng-click="vm.appViewChange('/availablePlayers')">Available Players</a></li>
                <li><a href="" ng-click="vm.appViewChange('/draftBoard')">Draft Board</a></li>
                <li><a href="" ng-click="vm.appViewChange('/chat')">Chat</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li uib-dropdown on-toggle="toggled(open)"><a href="" uib-dropdown-toggle>Dev Tools</a>
                    <ul class="dropdown-menu">
                        <li><a href="" ng-click="vm.deleteAllDBs()">Reset All DBs</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="" ng-click="vm.downloadPlayers()">Download Players</a></li>
                        <li><a href="" ng-click="vm.deleteAllPlayers()">Reset Player DB</a></li>
                        <li><a href="" ng-click="vm.deleteAllLeagues()">Reset League DB</a></li>
                        <li><a href="" ng-click="vm.deleteAllUsers()">Reset User DB</a></li>
                        <li><a href="" ng-click="vm.deleteAllChat()">Reset Chat DB</a></li>
                        <li><a href="" ng-click="vm.deleteAllDrafts()">Reset Draft DB</a></li>
                        <li role="seperator" class="divider"></li>
                        <li><a href="" ng-click="vm.currentUserLogOut()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
    <p>Current User Id: {{vm.currentUser._id}}</p>
    <!--<p>Current User Leagues: {{vm.currentUser.leagues}}</p>
    <p ng-repeat="league in vm.currentUser.leagues">Name: {{league.leagueName}}</p>-->
    <!--<b ng-if="league._id === vm.currentLeague._id"></b>-->
</div>