<div>
    <div id="drafted_list">
        <h4>Drafted Players</h4>
        <div ng-repeat="player in allDraftedPlayers">
            {{player.displayName}} {{player.position}} {{player.draftedBy}}
        </div>
        <!--<table>
                <th>Jammin</th>
                <th>Bryan</th>
                <th>Brent</th>
                <th>Andy</th>
                <th>Stahnke</th>
                <th>Spook</th>
                <th>Matt</th>
                <th>CMac</th>
                <th>Aaron</th>
                <th>Pollock</th>
            </table>-->
    </div>
</div>