<!DOCTYPE html>
<div>
	<!--<div>
		<h2>{{vm.currentLeague.leagueName}}</h2>
        <p ng-repeat="team in vm.currentLeague.draftOrder">{{team.firstName}}</p>
	</div>-->
	<div>
		<div>
			<!--<h3>{{vm.currentLeague.leagueName}}</h3>-->
			<div class="row">
				<div class="col-md-1">
					<p><b>{{vm.currentLeague.leagueName}} League</b></p>
					<p>Round 1</p>
					<p>Round 2</p>
				</div>
				<div class="col-md-1" ng-repeat="team in vm.currentLeague.draftOrder">
					<p class="{{team._id}}">{{team.firstName}}</p>
				</div>
			</div>

		</div>
	</div>
	<br>
	<div>
		<input type="text" ng-model="playerFilter.$" placeholder="Filter Drafted Players By Name" class="form-control">
		<br>
		<select name="position_select" id="singleSelect" ng-model="playerFilter.position">
                    <option value="">---Filter By Position---</option>
                    <option value="QB" ng-value="option.value">QB</option>
                    <option value="WR" ng-value="option.value">WR</option>
                    <option value="RB" ng-value="option.value">RB</option>
                    <option value="TE" ng-value="option.value">TE</option>
                    <option value="K" ng-value="option.value">K</option>
                    <option value="DEF" ng-value="option.value">DEF</option>
                </select>
	</div>
	<br>
	<div id="drafted_list">
		<h2>Drafted Players</h2>
		<div ng-repeat="player in allDraftedPlayers | filter: playerFilter">
			{{player.displayName}} {{player.position}} {{player.draftedBy}}
		</div>

	</div>

</div>