<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
    <div class="container">
        <a class="navbar-brand" href="#" ui-sref="index" ng-if="!vm.isLoggedIn">
            <img src="/images/Logo.png" id="navbarBrandLogo" alt="The League">
            Fantasy Football Draft App
        </a>
        <a class="navbar-brand" href="#" ui-sref="dashboard" ng-if="vm.isLoggedIn">
            <img src="/images/Logo.png" id="navbarBrandLogo" alt="The League">
            Fantasy Football Draft App
        </a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown" ng-if="vm.isLoggedIn">
                    <a href class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ vm.currentUser.firstName }}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a href="#" class="dropdown-item" ui-sref="settings"><i class="fa fa-fw fa-btn fa-cogs"></i>Settings</a>
                        <a href="#" class="dropdown-item" ng-click="vm.logOut()"><i class="fa fa-fw fa-btn fa-sign-out"></i>Logout</a>
                    </div>
                </li>
                <li class="nav-item" ng-if="!vm.isLoggedIn">
                    <a href="#" class="nav-link" ui-sref="login">Login</a>
                </li>
                <li class="nav-item" ng-if="!vm.isLoggedIn">
                    <a href="#" class="nav-link" ui-sref="register">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row justify-content-center">
        <div ng-show="error" class="alert alert-danger col-6">
            <button type="button" class="close" ng-click="vm.dismissError()">
                <span aria-hidden="true">&times;</span>
            </button> {{ errorMessage }}
        </div>
    </div>
    <div class="row justify-content-center">

    </div>
</div> 