body {
    font-family: Arial, Helvetica, sans-serif;
    min-width: 1300px;
}

#welcomeLogo {
    margin-top: 10%;
    width: 50%;
    height: 50%;
    align-content: center;
}
#navbarBrandLogo {
    height: 100px;
}
a.welcomeLink {
    color: black;
    text-decoration: none !important;
}
a.welcomeLink:hover{
    color: black;
}

.navbar-brand a {
    color: inherit;
    text-decoration: none !important;
}

ul.nav-tabs.settings {
    display: block;
}
a.nav-link {
    border: none !important;
}
nav{
    margin-bottom: 25px;
}
.header{
    margin-bottom: 25px;
}
.joinInput{
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

p.draftStatus{
    color: red;
}

.modal-dialog{
    top: 25%;
}
.fade.in {
    opacity: 1;
}
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}
.modal{
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

ul#leagueCommishTeamList{
    list-style: none;
}
.leagueMessageFrom{
    color: red;
    font-size: 16px;
}
.leagueMessage {
    font-size: 24px;
}

ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}
ul[dnd-list] .dndDraggingSource {
    display: none;
}
ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}
ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}
ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

tr.availablePickRow{
    cursor: pointer;
    td{
        border-top: none;
        border-radius: 2px;
    }
    th{
        border: none !important;
        border-bottom: none !important;
    }
}
tr.draftPickRow{
    td{
        border-top: none;
        border-radius: 2px;
    }
    th{
        border: none !important;
    }
}

.K {
    background-color: rgba(102, 51, 153, 0.2);
    color: rgba(102, 51, 153, 1);
    border: 1px solid #663399 !important;
}

.RB {
    background-color: rgba(217, 207, 207, 0.20);
    color: rgba(78, 71, 71, 1);
    border: 1px solid #4e4747 !important;
}

.QB {
    background-color: rgba(60, 118, 61, 0.2);
    color: rgba(37, 78, 38, 1);
    border: 1px solid #254e26 !important;
}

.WR {
    background-color: rgba(153, 0, 0, 0.2);
    color: rgba(153, 0, 0, 1);
    border: 1px solid #990000;
}

.DEF {
    background-color: rgba(255, 215, 0, 0.2);
    color: rgba(134, 112, 1, 1);
    border: 1px solid #867001;
}

.TE {
    background-color: rgba(63, 127, 191, 0.2);
    color: rgba(19, 70, 146, 1);
    border: 1px solid #134692;
}


.table.boardHead{
    width: auto;
    th{
        width: 125px;
        height: 75px;
        text-align: center;
        border: 3px solid black !important;
    }
}
.draftBoardPick{
    padding: 1px !important;
    width: 125px;
    height: 125px;
    // border: 1px solid black !important;
    text-align: center;
    span{
        display: block;
        height: auto;
    }
}