<div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <div ng-if="vm.message" class="alert alert-danger">
                    {{ vm.message }}
                </div>
                <div ng-if="vm.onClock" class="alert alert-success" role="alert">
                    <strong>On The Clock:</strong> {{ vm.onClock._user ? vm.onClock._user.userName : "Team " + vm.onClock.position
                    }}
                </div>
                <!-- <button type="button" class="btn btn-danger" ng-click="vm.downloadPlayers()">Download Players!</button> -->
            </div>
        </div>
    </div>
    <div ui-view="draftPick" class="container"></div>
    <div ui-view="draftBoard" class="container-fluid"></div>
    <div ui-view="draftChat" class="container"></div>
</div>

