<div class="row justify-content-center">
    <div class="col-10">
        <div class="card">
            <div class="card-header">
                <h2 class="card-headline">Draft Chat</h2>
                <a href="#" ui-sref="draft.pick"><i class="fa fa-fw fa-btn fa-list"></i>Draft Picks</a>
                <a href="#" ui-sref="draft.draftBoard"><i class="fa fa-fw fa-btn fa-table"></i>Draft Board</a>
            </div>
            <div class="card-block">
                <div class="input-group">
                    <input type="text" placeholder="New Message..." ng-model="vm.message" ng-enter="vm.sendMessage()" class="form-control" required>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-outline-success" ng-click="vm.sendMessage()">Send</button>
                    </span>
                </div>
                <ul>
                    <li ng-repeat="text in vm.messages | filter: vm.filterText">
                        <p><b>{{text.userName}}</b> - {{text.message}}</p>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
    <!--<input type="text" ng-model="filterText">-->
    
</div>