<div class="row justify-content-center">
    <div class="col-6">
        <div ng-if="vm.message" class="alert alert-danger fade show">
            <button type="button" class="close" ng-click="vm.dismissError()">
                <span aria-hidden="true">&times;</span>
            </button> {{vm.message}}
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-headline">Join League</h3>
            </div>
            <div class="card-block">
                <form class="" role="form" name="joinLeague">
                    <div class="form-group row justify-content-center">
                        <label for="">League Access Code</label>
                    </div>
                    <div class="form-group row justify-content-center">
                        <input type="text" maxlength="1" class="form-control col-1 joinInput" id="field1" name="accessCode1" ng-model="vm.data.accessCode1" ng-keyup="vm.moveFocus('field2')">
                        <input type="text" maxlength="1" class="form-control col-1 joinInput" id="field2" name="accessCode2" ng-model="vm.data.accessCode2" ng-keyup="vm.moveFocus('field3')">
                        <input type="text" maxlength="1" class="form-control col-1 joinInput" id="field3" name="accessCode3" ng-model="vm.data.accessCode3" ng-keyup="vm.moveFocus('field4')">
                        <input type="text" maxlength="1" class="form-control col-1 joinInput" id="field4" name="accessCode4" ng-model="vm.data.accessCode4" ng-keyup="vm.moveFocus('field5')">
                        <input type="text" maxlength="1" class="form-control col-1 joinInput" id="field5" name="accessCode5" ng-model="vm.data.accessCode5" ng-keyup="vm.moveFocus('field6')">
                        <input type="text" maxlength="1" class="form-control col-1 joinInput" id="field6" name="accessCode6" ng-model="vm.data.accessCode6">
                    </div>
                    <div class="form-group row justify-content-center">
                        <button type="submit" ng-click="vm.joinLeague()" class="btn btn-outline-success">Join League</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>