<div class="row justify-content-center">
    <div class="col-10">
        <div class="card">
            <div class="card-header">
                <h4 class="card-headline">League Commish Settings</h4>
                <a href="#" ui-sref="league({ leagueID: vm.league._id })"><i class="fa fa-fw fa-btn fa-home"></i>League Home</a>
            </div>
            <div class="card-block">
                <p class="card-text"><strong>League Code:</strong> {{ vm.league.token }}</p>
                <p class="card-text"><strong>Number of Teams:</strong> {{ vm.league.size }}</p>
                <h5>Teams</h5>
                <a href="" ng-click="editLeagueTeam = !editLeagueTeam"><i class="fa fa-fw fa-btn fa-minus-circle"></i>Edit Teams</a>
                <div class="row">
                    <div ng-repeat="list in vm.leagueField" class="col-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-headline">{{ list.title }}</h5>
                            </div>
                            <div class="card-block">
                                <ul dnd-list="list.teams" dnd-drop="callback({ targetList: list.teams, targetIndex: index })"> 
                                    <li ng-repeat="team in list.teams"
                                        dnd-draggable="team"
                                        dnd-effect-allowed="move"
                                        dnd-callback="onDrop(list.teams, $index, targetList, targetIndex)">
                                        {{ team._user ? team._user.userName : "Pick " + ($index + 1) }}<i ng-if="team._user" ng-show="!editLeagueTeam" class="fa fa-fw-fa-btn fa-bars" style="float: right;"></i><i ng-if="team._user" ng-show="editLeagueTeam && team._user._id !== vm.currentUser._id" ng-click="vm.deleteTeam(team._id)" class="fa fa-fw-fa-btn fa-times" style="float: right;"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>