<div class="row justify-content-center">
    <div class="col-6">
        <div ng-if="vm.message" class="alert alert-danger">
            <button type="button" class="close" ng-click="vm.dismissError()">
                <span aria-hidden="true">&times;</span>
            </button> {{ vm.message }}
        </div>
        <div ng-show="error" class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="vm.dismissError()">
                <span aria-hidden="true">&times;</span>
            </button> {{ errorMessage }}
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-headline">Login</h3>
            </div>
            <div class="card-block">
                <form role="form">
                    <div class="form-group">
                        <label for="email" class="form-label"><strong>Email</strong></label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email" ng-model="vm.loginInfo.email" required>
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label"><strong>Password</strong></label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" ng-model="vm.loginInfo.password" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" ng-click="vm.login()" class="btn btn-primary">
                            <i class="fa fa-btn fa-fw fa-sign-in"></i>
                            Go!
                        </button>
                    </div>
                    <div class="form-group">
                        <div class="g-signin2" data-onsuccess="onSignIn"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>